<mat-card class="example-card">
  <mat-card-header>
    <mat-icon>search</mat-icon>
    <h1 class="search-head">Search Client/Organization</h1>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="example-container">
      <form [formGroup]="searchForm">
        <label for="search" class="search-label"> Search Client/Organization</label>
        <input matInput [ngClass]="(searchName.value?.length<3)?'searchBox-error':'searchBox'" class="searchBox"
          type="text" name="search" formControlName="searchName">
        <mat-error *ngIf="searchName.value?.length<3">Minimum 3 characters required</mat-error>
        <mat-checkbox formControlName="isInactive">Show Inactive</mat-checkbox>
      </form>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="sendDate()">Search</button>
  </mat-card-actions>
</mat-card>